.backdrop{
    position: fixed;
    width: 100vw;
    height: 110vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.8);
}
.loginForm{
    margin: auto;
    width: 20%;
    padding: 5%;
    transform: translate(0, 15%);
    background-color: whitesmoke;
    border-radius: 3%;
}