.backdrop{
    position: fixed;
    width: 100vw;
    height: 110vh;
    background-color: rgba(0,0,0,0.8);
}
.card{
    padding-top: 5%;
}
.loginForm{
    text-align: center;
    margin: auto;
    width: 25%;
    padding: 50px;
    background-color: whitesmoke;
    border-radius: 3%;
}