.total{
    display: flex;
    justify-content: space-between;
}
.doughnut h4{
    z-index: 3;
    text-align: center;
    transform: translateY(920%);
}
.allchart{
    display: flex;
    justify-content: space-between;
 
}
.boxdoughnut{
    border: 2px solid #ECECEC;
   
    padding: 0 20px 40px;
}
.boxchart{
    border: 2px solid #ECECEC;
    
    margin-right: 50px;
}