.total{
    display: flex;
   justify-content: space-between;
    margin: 40px auto;
    
}
.doughnut h4{
    z-index: 3;
    text-align: center;
    transform: translateY(1000%);
}
.allchart{
    display: flex;
    justify-content: space-between;
 
}
.boxdoughnut{
    border: 2px solid #ECECEC;
    border-radius: 10px;
    padding: 0 20px 40px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}
.boxchart{
    border: 2px solid #ECECEC;
    border-radius: 10px;
    margin-right: 50px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

.infortotal{
    width: 47%;
    border-radius: 10px;
    height: 100px;
    border: 2px solid #ECECEC;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2); 
    display: flex;
    

}

.nameworks-container {
    background: #f8f9fa; /* light grey background */
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .namework {
    color: #333; /* dark text color */
    margin-bottom: 10px; /* space between items */
  }
  .namework strong {
    display: block; /* make ID display on its own line */
    color: #007bff; /* theme color for the ID */
    margin-bottom: 5px; /* space between ID and name */
  }