.boxdashboard{
    transform: translateY(40px);
    margin-bottom: 100px;
    
}
 
.boxdashboard h1{
    margin-left: 50px;
    padding-top: 20px;
    padding-bottom: 40px;
}
.headertab{
    display: flex;
    justify-content: center;
}

.contentdashboard{ 
   
   display: flex;
    
}
.chart{
    margin: auto;
}
.explication{
    padding: 10px;
    /* border: 2px solid #ECECEC; */
    width: 230px ;
    height: 300px;
    margin-right: 40px;
    margin-left: 10px;
    margin-top: 70px;
    padding: 15px 15px;
}
.explication h3{
    padding-bottom: 10px;
}

.contentoverview{
    margin-top: 50px;

}
.contentoverview h1{
   
text-align: center;

}
.overview{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    font-size: 20px;
    padding-bottom: 80px;
}
/*
.contentdashboard h2{
    margin-top: 50px;
    margin-bottom: 10px;
}
.explication{
    
    margin: auto;
    padding-bottom: 50px;
} */
/* .chart{
   margin-right: 0px;
    border-right: 1px solid gray;

} */
/* .namework{
    font-weight: 400;
    font-size: 18px;
}
.overview h2{
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

.overview{
    
    margin-top: 0px;
    margin-right: 160px; */
    /* display: flex; */
    /* justify-content: center; */
    /* margin-bottom: ;
    padding-left: 30px;
    border-left: 1px solid gray;
}
.contentoverview{
    font-size: 20px;
}
.line{
 
    
}
.line1{
   
}

.tong{
display: flex;
justify-content: space-between;

} */

 /* .nameworks-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 10px; 
  } 

  .namework {
    padding: 5px;
    box-sizing: border-box;
  }
    */