.yourCommission{
    transform: translateY(5%);
    margin-bottom: 100px;
   
}
.onecommissio{
    display: flex;
}
.button{
    text-align: right;
}
.contentcommission{
    margin-left: 52px;
    color: #262626;
}
.dialog{
    width: 800px;
}