.App {
  text-align: center;
}

.background{
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.page{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card:first-child{
  margin-top: 10%;
}

.card{
  width: 60%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.container{
  margin-top: 10%;
  margin-bottom: 5%;
  background-color: aliceblue;
}

a{
  text-decoration: none;
  color: inherit;
}

.loadingscreen{
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 1000vh;
  z-index: 9999;
}

.loading{
  margin: auto; 
}

.app-logo{
  margin-left: 2vw;
  width: 82px;
  height: 32px;
}

/* HomePage */

.seemore{
  font-size: 15px;
  margin-bottom: 10px;
  margin-right:10px ;
  color: #218EC2;
  text-align: right;
  cursor: pointer;
}

.carouseltag{
  margin-left: 90px;
  margin-right: 90px;
  position: relative;
}

.itemtag{
  background-color: rgba(red, green, blue, alpha);
  display: inline-block;
  white-space: nowrap; /* Ngăn ngừa việc ngắt dòng */
  overflow: hidden; /* Ngăn việc tràn vượt phần tử cha */
  height:60px ;
  margin-right: 4px;
  margin-left: 4px;
  padding: 7px 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: none; 
  border-radius: 5px;
  color: #fff;
  /* background-color: #ff1876; */
/* Hiệu ứng hover */
 transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.recommendedwork{
  margin-top: 20px;
  padding-top: 10px;
  margin-left: 90px;
  margin-right: 90px;
  position: relative;
  margin-bottom: 40px;
}
.headrecommended{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.recommendedimg{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.cardrecommended{
  margin: 10px 5px;
}
/* .userofworks{
  padding: 4px;
} */


.recommendedusers{
  margin-top: 30px;
  margin-left: 90px;
  margin-right: 90px;
  position: relative;
  margin-bottom: 40px;
}

.imguser{
  width: 80px;
  height: 80px;
 padding: 10px;
  
}
.imgu{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.inforuser{ 
  display: flex;
  align-items: center;
  background-color: #61dafb;
  color:black;
  padding-bottom: 10px;
 
}
.contentuser{
  margin-left: 10px;
}
.user-container{
  margin: 18px;

}

.card-follow-button {
  display: flex;
  justify-content: center; 

}


.Randomimg{
  margin-top: 30px;
  margin-left: 90px;
  margin-right: 90px;
  position: relative;
  border: 2px;
  border-bottom: #218EC2;
}
.foryouimg{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}