
*{
  margin: 0;
  padding: 0;

}

.background{
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; /* Ensure the image is centered on the screen */
  width: 100vw; /* 100% of the viewport width */
  height: auto; /* 100% of the viewport height */
  min-height: 100vh;
  top: 0;
  left: 0;
  display: fixed;
}



/* test icon2 */
.test2{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;

}


.page{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card:first-child{
  margin-top: 10%;
}

.card{
  width: 60%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.container{
  margin-top: 10%;
  margin-bottom: 5%;
  background-color: aliceblue;
}



.loadingscreen{
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 1000vh;
  z-index: 9999;


}
.button{
  position: relative;
  padding: 0px 0px;
  background:#fff ;
  /* border-radius: 6px; */
  color: #7d2ea8;
  border: none;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: transform 0.2s ease;
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */

}

.button{
  position: relative;
  padding: 0px 0px;
  background:#fff ;
  /* border-radius: 6px; */
  color: #7d2ea8;
  border: none;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: transform 0.2s ease;
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */

}
.loading{
  margin: auto; 


}
.button:active{
  transform: scale(0.96);
}
.button::before,
.button::after{
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 150%;
  /* z-index: -1; */
  background-repeat: no-repeat;
}
.button.animate::before{
  top:-70%;
  background-image: radial-gradient(circle,#7d2ea8 20%,transparent 20%),
  radial-gradient(circle,transparent 20% ,#7d2ea8 20%,transparent 30%),
  radial-gradient(circle,#7d2ea8 20%,transparent 20%),
  radial-gradient(circle,transparent 10%, #7d2ea8 15%,transparent 20%),
  radial-gradient(circle,#7d2ea8 20%,transparent 20%),
  radial-gradient(circle,#7d2ea8 20%,transparent 20%),
  radial-gradient(circle,#7d2ea8 20%,transparent 20%),
  radial-gradient(circle,#7d2ea8 20%,transparent 20%)
  ;
  background-size: 10% 10%,20% 20%,15% 15%,20% 20%, 18% 18%,10% 10%,15% 15%,10% 10%, 18% 18%;
  background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,40% 90%, 55% 90%, 70% 90%;
  animation: topBubbles 0.6s ease-in-out forwards;
 }
 @keyframes topBubbles{
  50%{
    background-position: 0% 80%, 0% 20%,10% 40%,20% 0%,30% 30% 22% 50%,
    50% 50%, 65% 20%, 90% 30%;
  }
  100%{
    background-position:0% 70%,0% 10%, 10% 30%,20% -10%,30% 20%,22% 40%,
    50% 40%,65% 10%,90% 20% ;
    background-size:0% 0% , 0% 0%,0% 0% , 0% 0%,0% 0% , 0% 0% ;
  }
  
 }
.button.animate::after{
  bottom: -70%;
  background-image: radial-gradient(circle,#7d2ea8 20%,transparent 20%),
  radial-gradient(circle,transparent 10%, #7d2ea8 15%,transparent 20%),
  radial-gradient(circle,#7d2ea8 20%,transparent 20%),
  radial-gradient(circle,#7d2ea8 20%,transparent 20%),
  radial-gradient(circle,#7d2ea8 20%,transparent 20%),
  radial-gradient(circle,#7d2ea8 20%,transparent 20%),
  radial-gradient(circle,#7d2ea8 20%,transparent 20%)
  ;
  background-size: 15% 15%,20% 20%, 18% 18%,20% 20%, 15% 15%, 20% 20%,18% 18%;
  background-position: 10% 0%,30% 10%, 55% 0%,70% 0%,85% 0%,70% 0%, 70% 0%;
  animation: bottomBubbles 0.6s ease-in-out forwards;
}
@keyframes bottomBubbles {
  50%{
    background-position:0% 80%,20% 80%, 45% 60%,60% 100%, 75% 70% ,95% 60%,
    105% 0% ;
  }
  100%{
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
    110% 10%;
    background-size:0% 0% , 0% 0%,0% 0% , 0% 0%,0% 0% , 0% 0% ;
  }
  
}





.app-logo{
  margin-left: 2vw;
  width: 82px;
  height: 32px;

}


/* HomePage */


.homepage{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.seemore{
  font-size: 15px;
  margin-right:10px ;
  color: #8b999f;

  text-align: right;
  cursor: pointer;
}

.carouseltag{

  margin-left: 90px;
  margin-right: 90px;
  position: relative;

  margin-bottom: 15px;
}


.itemtag{
  background-color: rgba(red, green, blue, alpha);

  display: inline-block;
  white-space: nowrap; /* Ngăn ngừa việc ngắt dòng */
  overflow: hidden; /* Ngăn việc tràn vượt phần tử cha */
  height:60px ;
  margin-right: 4px;
  margin-left: 4px;
  padding: 7px 10px;
  font-size: 14px;

  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: none; 
  border-radius: 5px;
  color: #fff;
  /* background-color: #ff1876; */
/* Hiệu ứng hover */
 transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.recommendedwork{

  margin-top: 20px;
  padding-top: 10px;
  margin-left: 90px;
  margin-right: 90px;
  position: relative;
  margin-bottom: 40px;
}
.headrecommended{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

}
.recommendedimg{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}



.recommendedusers{
  margin-top: 30px;
  margin-right: 90px;
  margin-left: 90px;
  margin-right: 90px;
  position: relative;
  margin-bottom: 40px;

}

.groupOfCarousel{
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: auto;
  min-width: 400px;
}

.carouselCustom{
  display: block;
  width: 18vw;
  min-width: 250px;
  margin: 5px 5px 5px 5px;
}

.imguser{
  width: 80px;
  height: 80px;
 padding: 10px;
  
}
.imgu{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.inforuser{ 
  display: flex;
  align-items: center;
  background-color: #61dafb;
  color:black;
  padding-bottom: 10px;
 
}
.contentuser{
  margin-left: 10px;
  margin-right: 10px;
}

.card-follow-button {
  display: flex;
  justify-content: center; 

}

.Randomimg{
  margin-top: 30px;
  margin-left: 90px;
  margin-right: 90px;
  border: 2px;
  border-bottom: #218EC2;
}
.foryouimg{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;

}

.form{
  padding-top: 2%;
  padding-bottom: 5%;
}

.userInfoForm{
  width: 60vw;
  border-radius: 5px;
  min-width: 400px;
  margin: auto;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;

}

a{
  text-decoration: none;
  color: inherit;
}

.tagHolder::-webkit-scrollbar {
  display: none;
}
.tagHolder{
  height: 8vh;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-x: auto;
}

.previewImage{
  height: 300px;
  width: 300px;
  object-fit: fill;
  float: right;
}




/* Profile */
/* styles.css */
.headeruser {
  
  width: 100%;
  height: 435px; 
  overflow: hidden;
}

.backgrounduser {
  background-attachment: fixed;
 background-repeat: no-repeat;;

  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  
}
.backgrounduser img{
  width: 100%;
  height: auto;
}

.avataruser{
  position: relative;
  display: inline-block;}
.avataruser img{
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 100%;
  transform: translateY(-40%);
  margin-left: 100px;
  outline: 4px solid #fff;
  position: relative;
  z-index: 1;
  
  /* outline nên chỉnh theo dark mode */
 
}
.buttonavatar button{
  background-color:none;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(10%, 100%);
  z-index: 2;
  
  /* width: 40px;
  height: 40px;
  border-radius: 50%; */
}
.infouser1{
  display: flex;
 
  height:90px ;
  justify-content: space-between;
  
}
.infousername{
  display: flex;
}
.headerusername{
  margin-top: 0px;
  margin-left: 20px;
}
.buttonheaderuser{
  margin-right: 100px;
  margin-top: 25px;
  display: flex;
}
.navofuser{
  display: flex;
  justify-content: space-between;
}
.navuser{
  margin-left:110px ;
}
.buttonSubcribe{
  margin-right: 100px;
  margin-top: 4px;
}
.boxintroduct{
  margin: auto;

  
  height: auto;

  width: 80%;

}
.headintroduct{
  margin-left: 25px;
  margin-bottom: 5px;
}

.contentintroduct{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;

}
.iconintroduct{
  margin-top: 5px;
  margin-right: 6px;
}
.tabhome{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  
}
.biouser{
  margin-right: 40px;
  margin-top: 22px;
}
.head-workofuser{
  margin-bottom: 20px;
}
.tabshop{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  margin-top: 40px;

}
.tabfavourites{
  display: flex;
  justify-content: center;
 
}



/* POSTWORK */
.info-postwork{
  display: flex;
  height: 600px;
  margin-top: 50px;
  margin-left: 70px;
  margin-right: 70px;
}
.imgpost{
  height: 600px;
  width: 1000px;
  display: flex;
  justify-content: center;
  background-color:#F5F5F5 ;

}
.imgpost img{
  margin: auto;
  object-fit: cover;
  height: 500px;
}
.contentpost{
  flex: 1;
  margin-left: 30px;
}
.infor-user-post{
  margin-top: 20px;
  padding-bottom: 10px;
  display: flex;
  border-bottom: 2px solid #218EC2;
}
.name-user-post{
  font-size: 20px;
  margin: auto 15px;
}